<mat-card
  class="upload-card"
>
  <mat-card-header>
    <mat-card-title>Upload an image to generate a caption</mat-card-title>
    <mat-card-subtitle>See the magic of Deep learning</mat-card-subtitle>
  </mat-card-header>
  <input
    type="file"
    #fileUpload
    id="fileUpload"
    name="fileUpload"
    accept="image/*"
    style="display:none;"
  />
  <img
    mat-card-image
    [src]="imgUrl || 'https://via.placeholder.com/600x500.png?text=Select+Image'"
    (click)="onClick()"
    style="cursor: pointer; margin-top: -5px;"
    alt="Your image"
  >

  <mat-card-actions>
    <mat-form-field  appearance="fill">
      <mat-label>Beam Size</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="beam_size"
        [formControl]="beamFormControl"
      >
      <mat-error *ngIf="beamFormControl.hasError('required')">
        required!
      </mat-error>
      <mat-error *ngIf="beamFormControl.hasError('min') || beamFormControl.hasError('max')">
        enter a number between 5 to 10
      </mat-error>
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <mat-select [formControl]="modelFormControl">
        <mat-option *ngFor="let model of models" [value]="model.value">
          {{ model.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="modelFormControl.hasError('required')">
        required!
      </mat-error>
    </mat-form-field>

    <button
      class="btn-custom"
      style="margin-top: 2%;"
      color="primary"
      mat-raised-button
      (click)="analyse()"
      aria-label="Analyse the Image"
      [disabled]="modelFormControl.hasError('required') || beamFormControl.hasError('min') || beamFormControl.hasError('max') || file === null"
    >
      Analyse
    </button>
  </mat-card-actions>

</mat-card>
