<div>
  <mat-card
    class="upload-card"
    tabindex="1"
  >
    <mat-card-header>
      <mat-card-title>Upload an image to generate a caption</mat-card-title>
      <mat-card-subtitle>See the magic of Deep learning</mat-card-subtitle>
    </mat-card-header>
    <input
      type="file"
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      accept="image/*"
      style="display:none;"
    />
    <img
      mat-card-image
      [src]="imgUrl || 'https://via.placeholder.com/600x500.png?text=Select+Image'"
      (click)="uploadImage()"
      style="cursor: pointer; margin-top: -5px;"
      alt="Your image"
    >

    <mat-card-actions>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <mat-form-field  appearance="fill">
              <mat-label>Beam Size</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="beam_size"
                [formControl]="beamFormControl"
              >
              <mat-error *ngIf="beamFormControl.hasError('required')">
                required!
              </mat-error>
              <mat-error *ngIf="beamFormControl.hasError('min') || beamFormControl.hasError('max')">
                enter a number between 5 to 10
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="fill">
              <mat-label>Model</mat-label>
              <mat-select [formControl]="modelFormControl">
                <mat-option *ngFor="let model of models" [value]="model.value">
                  {{ model.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="modelFormControl.hasError('required')">
                required!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <button
              class="btn-custom"
              color="primary"
              mat-raised-button
              (click)="throttledAnalyse()"
              matTooltip="Get captions"
              [disabled]="modelFormControl.hasError('required') || beamFormControl.hasError('min') || beamFormControl.hasError('max') || file === null"
            >
              Analyse
            </button>
          </div>
        </div>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
